section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #37bfa4;
  border: 1px solid #37bfa4;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 10px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #b1d0ca;
  border-color: #b1d0ca;
}
